*.ide
*.ide-shm
*.ide-wal
.vs/4thHandin/v15/Server/sqlite3/storage.ide-wal
.vs/4thHandin/v15/Server/sqlite3/storage.ide-shm
.vs/4thHandin/v15/Server/sqlite3/storage.ide
4thHandin/bin/4thHandin.dll.config
4thHandin/bin/4thHandin.dll
.vs/config/applicationhost.config
.vs/4thHandin/v15/Server/sqlite3/storage.ide-wal
.vs/4thHandin/v15/Server/sqlite3/storage.ide-shm
.vs/4thHandin/v15/Server/sqlite3/storage.ide
.vs/4thHandin/v15/.suo
4thHandin/DataAccessLayer.Designer.cs
4thHandin/DataAccessLayer.xsd
4thHandin/DataAccessLayer.xss
4thHandin/Myfiles/Latestresult.xml
4thHandin/obj/Debug/4thHandin.pdb
4thHandin/obj/Debug/4thHandin.csproj.CoreCompileInputs.cache
4thHandin/obj/Debug/4thHandin.csprojAssemblyReference.cache
4thHandin/obj/Debug/4thHandin.dll
4thHandin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
4thHandin/obj/Debug/TempPE/DataAccessLayer.Designer.cs.dll
4thHandin/Web.config
4thHandin/xml/commercialsTransformed.xml
4thHandin/xml/commercialsTransformedTemp.xml
.vs/4thHandin/v15/.suo
