/*.color-change-5x {
	-webkit-animation: color-change-5x 16s linear infinite alternate both;
	animation: color-change-5x 16s linear infinite alternate both;
}

@-webkit-keyframes color-change-5x {
  0% {
    background: #108088;
  }
  25% {
    background: #631a8c;
  }
  50% {
    background: #7c1414;
  }
  75% {
    background: #8f700e;
  }
  100% {
    background: #278a09;
  }
}
@keyframes color-change-5x {
  0% {
    background: #108088;
  }
  25% {
    background: #631a8c;
  }
  50% {
    background: #7c1414;
  }
  75% {
    background: #8f700e;
  }
  100% {
    background: #278a09;
  }
}
*/

body > form {
    min-height: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    position: absolute;
    left: 0;
    right: 0;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png") !important;
}

body {
    background: #0b2c2c;
}


.navbar.navbar-inverse.navbar-fixed-top {
    background: none;
    border: none;
}

.body-content > .row:nth-of-type(1) {
    display: none;
}

.body-content > .row:nth-of-type(2) {
    margin-top: 220px;
}

.navbar .container {
    width: 320px;
    margin: 20px auto;
    border-radius: 120px;
    height: 120px;
}

    .navbar .container .navbar-header {
        width: 100px;
        margin: 0 auto;
        background-color: darkgrey;
        border-radius: 120px;
        height: 100px;
        float: none;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

a.navbar-brand {
    padding: 29px 34px 74px 31px;
    font-size: 1.5em;
    color: darkslategrey !important;
}

.navbar-nav li:nth-of-type(1) {
    display: none;
}

.navbar-nav li:nth-of-type(2) {
    width: 48%;
    float: left;
}


.navsearch {
    width: 50%;
    float: right !important;
    display: block;
    margin: 0 auto;
}

    .navsearch input[type=text] {
        height: 45px;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        font-size: 1rem;
        border: 1px solid #d0cfce;
        outline: none;
        background-color: transparent;
        border: none;
    }

        .navsearch input[type=text]:focus {
            border: 1px solid #008abf;
            transition: 0.35s ease;
            color: #008abf;
        }

input#search-bar:-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

.navsearch input[type=submit] {
    display: none;
}


ul.nav.navbar-nav {
    width: 100%;
    margin-top: 20px;
}


/*customs*/
table {
    width: 100%;
    margin-top: 30px;
    font-size: 2em;
    border-right: none;
    border-left: none;
    border-top: none;
}

    table td, table th {
        padding: 10px;
        border-right: none;
        border-left: none;
        border-top: none;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
        background-color: darkslategray;
        color: white;
    }

    .body-content {
        padding: 0;
    }
}


.text-middle {
    width: 100%;
    text-align: center;
    left: 0%;
    position: absolute;
    top: 85%;
    font-weight: 700;
    color: #fff;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.gradient {
    background-image: url(../img/mask-title.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.5;
    border-radius: 2px;
    background-position: bottom;
    transition: all 0.3s ease;
}

    .gradient:hover {
        opacity: 0.7;
    }

.card:hover {
    transform: scale(1.1);
    z-index: 8;
}

@media only screen and (max-width: 768px) {
    .card {
        max-width: 47% !important;
        width: 200px !important;
    }

        .card img {
            height: 100% !important;
        }
}

@media only screen and (max-width: 480px) {
    .card {
        max-width: 44% !important;
        width: 200px !important;
    }

        .card img {
            height: 100% !important;
        }
}

.card {
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    height: auto;
    margin: 1rem;
    position: relative;
    width: 18%;
    padding: 0;
}

    .card img {
        border-radius: 2px;
        width: 100%;
        height: 100%;
        min-height: 300px;
        max-height: 300px;
    }

.card-1 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .card-1:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

.default-pic {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
