<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
  </styleBundle>
  <styleBundle path="~/Content/42/css">
    <include path="~/Content/42/Site.css" />
  </styleBundle>
  <styleBundle path="~/Content/69b/css">
    <include path="~/Content/69b/Site.css" />
  </styleBundle>
</bundles>